.about-me-text {
  p {
  font-family: 'Raleway';
  font-size: 19px;
  }
}

.about-photo {
  img {
    height:400px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  @include from-medium-high {
    margin-right: 20px;
    margin-bottom: 0px;
  }
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include from-medium-high {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  }
}

