.about-me-text {
  p {
  font-family: 'Raleway';
  font-size: 19px;
  }
}

.about-photo {
  img {
    height:400px;
    float: left;
    padding: 0px 20px 0px 0px;
  }
}

.about-section {
  padding: 30px 100px;
}
