// Specific CSS for your home-page
body {
  background-color: #F7FAFE;
  position: relative;
}

.photo {
  max-width: 500px;
  img {
    margin-top: 25px;
    border-radius: 250px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding: 10px;
    @include from-medium-low {
      height: 700px;
    }
  }
}

.grid {
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include from-medium-low {
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.home-nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-shadow: 4px 4px 0px #1F3489;
    -webkit-text-stroke: 2px #1F3489;
    -webkit-text-fill-color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 100px;
    &:hover {
      color: #FFFFFF;
      text-shadow: 4px 4px 0px #1F3489;
      -webkit-text-stroke: 2px white;
     -webkit-text-fill-color: #1F3489;
      text-decoration: none;
    }
}

.home-nav-link-alt {
   font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-shadow: 4px 4px 0px #1F3489;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: #1F3489;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 110px;
     &:hover {
      text-decoration: none;
      color: #FFFFFF;
    text-shadow: 4px 4px 0px #1F3489;
    -webkit-text-stroke: 2px #1F3489;
    -webkit-text-fill-color: white;
    }
}

.home-nav-item {
  margin-bottom: 50px;
}

.home-nav {
  margin-top: 70px;
  display: none;
  ul {
    list-style-type: none;
  }
  @include from-medium-high {
    display: inherit;
  }
}

.swiggy-one {
  top: -12%;
  left: 48%;
  position: absolute;
  width: 200px;
  transform: matrix(-0.92, -0.25, 0.42, -0.96, 0, 0);
  path {
  fill: #8AB7FC;
  }
}

.swiggy {
  position: absolute;
  top: 58%;
  left: 77%;
  width: 200px;
  transform: matrix(0.84, 0.35, -0.66, 0.9, 0, 0);
    path {
  fill: #8AB7FC;
  }
}

.star {
  position: absolute;
  path {
      fill: #8AB7FC;
  }
}

.starout {
  position: absolute;
  path {
      fill: none;
      stroke: #8AB7FC;
      stroke-width: 3px;
  }
}

.star1 {
  left: 91.68%;
  right: 5.48%;
  top: 4.88%;
  bottom: 90.9%;
  height: 33.76435852050781px;
  width: 40.792724609375px;
  transform: rotate(25.4deg);

}

.star2 {
  width: 30px;
  left: 85.28%;
  right: 11.89%;
  top: 44.62%;
  bottom: 51.16%;
  // animation: twinkle-1 1s infinite;
}

.star3 {
  left: 18.77%;
  right: 78.59%;
  top: 4%;
  bottom: 93.56%;
  height: 19.53125px;
  width: 38px;
  transform: rotate(-32.51deg);
  // animation: twinkle-1 1s infinite;
}

  // @keyframes twinkle-1 {
  //   50% {
  //     transform: rotate(10deg);
  //   }
  // }

.star4 {
  left: 9.68%;
  right: 86.98%;
  top: 80%;
  bottom: 14.67%;
  transform: matrix(0.73, 0.52, -0.87, 0.75, 0, 0);
}
