// Specific CSS for your home-page
.title-name {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
  margin-top: 20px;
  a {
    color: #041E78;
    font-size: 25px;
    text-decoration: none;
  }
  a:hover {
    color:#0269f7;
  }
  .logo {
    margin-left: 50px;
  }
  .contact-icons {
    a {
      margin-right: 10px;
    }
  }
  .contact-btn {
    padding: 10px;
    border-radius: 5px;
    background-color:#041E78;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    a {
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

.contact-btn:hover {
  background-color: #0269f7;
  box-shadow: 0px 15px 20px rgba(153, 195, 251, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.title-work {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: 'EB Garamond';
  font-size: 18px;
}

.group {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Raleway';
  color:#041E78;
  border-bottom: 3px solid #041E78;
  margin-bottom: 0px;
  li {
    padding: 10px 40px 10px 0px;
  }

  ul {
    list-style-type:none;
  }

  a {
    position: relative;
    color:#041E78;
    text-transform: uppercase;
  }

  a:visited {
    color:#041E78;
  }

  a:hover {
    color: #0269f7;
    text-decoration:none;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #0269f7;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.home-page {
  margin-top: 30px;
  border-top: 1px solid #041E78;
  padding: 30px 100px;
}

.banner {
  height: 555px;
  width: 100%;
  object-fit: cover;
}

.broderie {
  font-family: 'Raleway';
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-right: 30px;
    height: 500px;
  }
}

.tapisserie {
  font-family: 'Raleway';
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-left: 30px;
    height: 500px;
  }
}

