<div id="page-wrap">
  <h1>broderie</h1>
  <section id="main-content">
    <div id="guts">
      <div class="container">
        <div class="about-section">
          <div class="about-photo">
            <%= image_tag 'about.jpg'%>
          </div>
          <div class="about-me-text">
            <p>Au travers des années j’ai développé une passion pour l’artisanat notamment, la broderie, la peinture sur porcelaine et la tapisserie. Aujourd’hui j’ai finalement décidé d’en faire mon activité professionnelle. Après avoir vécu des années près de Santa Cruz en Californie, il était évident pour moi de nommer mon entreprise Ateliers Cruz en souvenir de ces paysages splendides et des moments merveilleux passés dans cette région. <br><br>Malgré ma grande famille et une vie professionnelle bien remplie, j’ai toujours trouvé le temps au fil des ans pour broder, coudre, peindre, rafistoler et bricoler. J’ai pris des cours en France et aux Etats Unis pour me former et c’est finalement la broderie et la réfection de fauteuils vers lesquels je me suis spécialisée. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
