<div class="container">
  <div class="broderie-page">
    <div class="broderie">
      <div class="image">
      <%= image_tag 'num.png', width: '100%;', class:'num'%>
      </div>
      <p>Avant de broder votre article il faut connaître le processus de broderie. Les machines à broder ne savent pas lire une image, un dessin ou une photographie. Le motif à broder doit donc être numérisé, c'est -à -dire être transformé en programme de piquage, de points à coudre et de couleurs pour pouvoir être brodé.
       <br><br>
        Cette étape peut être longue et laborieuse, en fonction du motif, et il est conseillé de faire ensuite un test de broderie sur un support similaire pour s’assurer d’un résultat de qualité..
        <br><br>
        La deuxième étape consiste à fixer l’élément à broder dans un cadre et le supporter par un ou plusieurs stabilisateurs qui seront fixés sous ce cadre.
        <br><br>
        Cela va donner de la rigidité au tissu et le supporter durant la phase de broderie. Cela évitera par exemple a un sweet de se déformer pendant la broderie. Ces supports sont différents en fonction des matières (coton, lin, sweet, tshirt), et certains seront invisibles une fois l’ouvrage terminé, alors que d’autres resteront visibles sur l’envers une fois la broderie achevée.
        <br><br>
        La dernière étape consiste à couper au dos de votre broderie les petits fils de changements de couleurs etc...et de vous présenter une broderie parfaite
      </p>
    </div>
    <div class="video">
      <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/bQbQYrObqb5NYKkTVt" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
    <div class="howto">
      <p>Pour toute demande de broderie je vous enverrai un devis qui prendra en compte les diverses étapes de ce processus, le nombre de points de la broderie, ainsi que le nombre de pièces à broder. Le tarif se décompose ainsi :</p>
      <ul>
        <li><p>La numérisation du motif  - moment ou le motif est transformé en points de broderie - le prix varie en fonction de la taille et complexité du motif. Un motif peut être numérisé en plusieurs tailles, en fonction du support à broder (casquettes, t-shirt, veste, etc…) Bien sûr, si le motif est déjà fourni par vos soins, il ne sera pas comptabilisé.</p></li>
        <li><p>Le nombre de points de la broderie, je compte 1 Euro pour 1000 points, sauf pour la broderie de nom et prénoms ou le tarif est de 5 euros par nom.</p></li>
        <li><p>Le coût des fournitures (fils, support, cadre) - le calcul est basé sur les matériaux utilisés et le nombre de points</p></li>
        <li><p>Le nombre d’objets à broder. Le tarif est dégressif pour 10 objets ou plus.</p></li>
        <li><p>En exemple une broderie de grande dimension (13cms sur 18 cm), dont le motif est fourni, en 6 couleurs comprenant 50000 points, coûtera 51,06 Euros HT. </p></li>
        <li><p>Pour certains articles comme les casquettes, chaussettes ou certains vêtements pour bébés en toute petite taille qui nécessitent des cadres particuliers des frais de cadrage de 5 euros seront ajoutés à l'ensemble du devis quelque soit le nombre d’articles.</p></li>
      </ul>
    </div>
    <div class="brodbottom">
      <p>Je peux vous fournir si vous le désirez un certain nombre d’articles à broder tels que T-Shirt, casquettes, vestes, linge de maison, articles pour bébés, etc..pour vous aider dans votre démarche de broderie, ce sera à m’indiquer lors de votre commande.       <br><br>
      N'hésitez pas à me contacter pour toute question ou commentaire. Et bien sûr, si vous souhaitez passer une commande.</p>
      <div class="image2">
      <%= image_tag 'images/louise.jpeg', width:'200px;', class:'louise' %>
      </div>
    </div>
  </div>
</div>
