<div class="container">
  <div class="contact">
  <p>Pour toute question ou demande de devis, n'hésitez pas à me contacter soit en utilisant le formulaire ci-dessous, soit en m’envoyant un sms par téléphone.
    Pour découvrir mon univers suivez mes créations sur mes pages FB et Instagram <br>A très bientôt
    <br>
    Sophie
</p>
  </div>
</div>
