<div class="container">
  <div class="contact-page">
    <div class="contact">
      <p>Pour toute question ou demande de devis, n'hésitez pas à me contacter soit en m’envoyant un <a href="mailto:atelierscruz@gmail.com">mail</a> ou, soit en m’envoyant un sms par <a href="tel:+33635267654">téléphone.</a>
      <br><br>
      Pour découvrir mon univers suivez mes créations sur mes pages FB et Instagram. <br><br>A très bientôt,
      <br>
      Sophie
      </p>
    </div>
  </div>
</div>
