<div class="container">
  <div class="tapiserrie-page">
    <div class="top">
      <div class="img1">
        <%= image_tag 'images/tapisserie.jpeg' %>
      </div>
      <p>La réfection de fauteuils peut être faite traditionnellement, c'est-à-dire avec des matériaux classiques et durables, tels que des ressorts, du crin animal et végétal, qui sera cousu, et inséré sous des toiles brutes, qui seront à leur tour fixées à l’aide de clous tapissiers. <br><br>La couture et les points employés vont donner la forme à votre siège, et lui assurent sa solidité dans le temps. <br><br> Le siège une fois enrobée de sa dernière toile, pourra ensuite être recouvert de son tissu d’apparat. Ce tissu doit avoir certaines caractéristiques de tissage pour résister à une assise coutumière et prolongée. <br><br>C’est un processus de qualité, mais qui nécessite pas mal de temps.</p>
    </div>
    <div class="middle">
      <p>Une autre méthode, qui est utilisée par la grande majorité des fabricants de meubles, consiste à remplacer le crin par de la mousse qui sera collée sur le support de sangle du siège. C’est beaucoup plus rapide, et un peu moins onéreux, et le tissu est ensuite agrafé sur le support en bois du fauteuil. La longévité du siège dépend de la qualité de mousse employée par le tapissier, pour résister sans s'affaisser à de nombreuses utilisations.
      <br><br>Je peux faire les 2 méthodes, et honnêtement pour un résultat plus rapide la réfection mousse est tout aussi valable. Mais je n’utilise que des mousses de bonnes densités.</p>
      <div class="img2">
        <%= image_tag 'tapisserie2.jpeg' %>
      </div>
    </div>
    <div class="bottom">
      <div class="img3">
        <%= image_tag 'tapisserie3.jpeg' %>
      </div>
      <p>Il existe en ligne de nombreuses enseignes qui proposent des tissus d’ameublements de qualité, et le choix est absolument incroyable. Je vous recommande cependant de commander un échantillon pour vous assurer que cela correspond vraiment à votre fauteuil et décoration intérieure.
      <br><br>
      Comme pour la broderie, la tarification se fait sur devis, et dépend de la forme du fauteuil, des matériaux utilisés et de la quantité,  etc… Je ne peux faire ce devis qu'après avoir vu le fauteuil à retapisser.
      <br><br>
      <i>Je ne refais que des fauteuils dont le bois est encore solide, et ne risque pas de casser pendant la phase de réfection.</i></p>
    </div>
  </div>
</div>
